:root {
  --content-bg-color: #fff;
  --main-color: #4caf93;
  --elevated-bg-color: #fff;
  --spotlight-bg-color: #4caf93;

  --menu-color: #f0f0f0;
  --menu-popup-bg-color: #4caf93;
  --menu-bg-color: #4caf93;
  --menu-item-hover-color: #f8f8f8;
  --menu-item-selected-bg-color: #ffffff;
  --menu-item-selected-color: #4caf93;
  --menu-item-active-bg-color: #e0e0e0;

  --nav-header-bg-color: #fff;
  --nav-header-color: rgba(0, 0, 0, .8);
  --footer-color: #b0aeae;
  --page-tabs-bg-color: #f0f0f0;
}
