$mainColor: 'var(--main-color)';

$elevatedBgColor: 'var(--elevated-bg-color)';

$menuColor: 'var(--menu-color)';
$menuBgColor: 'var(--menu-bg-color)';
$menuPopupBgColor: 'var(--menu-popup-bg-color)';
$menuItemHoverColor: 'var(--menu-item-hover-color)';
$menuItemSelectedBgColor: 'var(--menu-item-selected-bg-color)';
$menuItemSelectedColor: 'var(--menu-item-selected-color)';
$menuItemActiveBgColor: 'var(--menu-item-active-bg-color)';
$spotlightBgColor: 'var(--spotlight-bg-color)';

// JS 与 scss 共享变量，在 scss 中通过 :export 进行导出，在 js 中可通过 ESM 进行导入
:export {
  mainColor: #{$mainColor};

  elevatedBgColor: #{$elevatedBgColor};
  spotlightBgColor: #{$spotlightBgColor};

  menuColor: #{$menuColor};
  menuBgColor: #{$menuBgColor};
  menuPopupBgColor: #{$menuPopupBgColor};
  menuItemHoverColor: #{$menuItemHoverColor};
  menuItemSelectedBgColor: #{$menuItemSelectedBgColor};
  menuItemSelectedColor: #{$menuItemSelectedColor};
  menuItemActiveBgColor: #{$menuItemActiveBgColor};
}
